<div style="background-color: #f6f6f6; padding: 10px;">
  <div class="acg-card--insights__grid">
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
    <div class="acg-card--insights">
      <div class="acg-card__content__wrapper">
        <div class="acg-card--insights__content">
          <p class="acg-card--insights__eyebrow">Label goes here</p>
          <h3 class="acg-type-display--tiny">Title of Insight #1</h3>
          <p class="acg-card--insights__description acg-type-body--small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link acg-card--insights__btn">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div
        class="acg-card--insights__image"
        style="background-image: url(https://placekitten.com/360/300);"
      ></div>
    </div>
  </div>
</div>
