<div style="background-color: #f6f6f6; padding: 10px;">
  <div class="acg-card--insights__grid acg-card--insights__grid__alt">
    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

    <div class="acg-card--insights__alt">
      <div class="acg-card__content__wrapper__alt">
        <div class="acg-card--insights__content">
          <p class="acg-card__eyebrow">Label goes here</p>
          <h3 class="acg-card__heading">Title of Insight #1</h3>
          <p class="acg-card__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing sed do
            psum dolor sit amet, consectetur adipisicing...
          </p>
          <a href="#" class="acg-btn acg-btn--link">
            Learn More
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="acg-card--insights__image acg-card--insights__image__alt">
        <img src="https://placekitten.com/800/450" alt="a cat" />
      </div>
    </div>

  </div>
</div>